@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

@import "tailwindcss";

@theme {

  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-dm-serif: "DM Serif Text", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-yellow: #e9cf87;
  --color-primary: #212121;
  --color-navcolor: #7D7D7D;
  --color-secondary: #6CB4B8;
  --color-alpha: #01386e;
}

/* *{
  font-family: "Inter", sans-serif;
  darker shade of blue: #0a2239
} */
*:hover{
  cursor: none
}

body{
  cursor: none;
  overflow-x: hidden;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}


/* Fade-in animation when the component enters the viewport */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceScale {
  0% {
    transform: scale(0.8) translateY(0);
  }
  50% {
    transform: scale(1.2) translateY(-20px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/* Card hover effect */
.card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

/* Add animation classes */
.fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}


/* Card hover effect */
.statistics-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
/*
*{
  border: solid red 2px
} */

.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.slider {
  display: flex;
  animation: scroll 20s linear infinite; /* Control the speed with the duration (15s) */
}

/* Keyframes for the sliding effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
